.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background-color: #202020;
  overflow-y: scroll;
  border-radius: 20px;
}

::-webkit-scrollbar {
  display: none;
}

.modal_container {
  padding: 20px;
}

.modal_container-creators,
.modal_container-stories,
.modal_container-characters {
  text-align: center;
  color: #fa633d;
}
